.match_parent{
    height: 100%;
    width: 100%;

}
.gravity_center{
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}

.half_width{
    width: 50%;
    height: 100%;
}

.horizonal{
    align-content: center;
    display: flex;
    justify-content: flex-start;
}

@keyframes fade-in {  
    0% {opacity: 0;}/*初始状态 透明度为0*/  
    40% {opacity: 0;}/*过渡状态 透明度为0*/  
    100% {opacity: 1;}/*结束状态 透明度为1*/  
}  
@-webkit-keyframes fade-in {/*针对webkit内核*/  
    0% {opacity: 0;}  
    40% {opacity: 0;}  
    100% {opacity: 1;}  
}  
.wrapper {    
    animation: fade-in;/*动画名称*/  
    animation-duration: 1.5s;/*动画持续时间*/  
    -webkit-animation:fade-in 1.5s;/*针对webkit内核*/  
}  

.bs a:hover {background:#f4f4f4; color:#000;}